---
import Layout from "@layouts/Layout.astro";
import Project from "@components/Project.astro";
---

<Layout title="Projects | Gean Dev">
  <main class="w-full">
    <h1 class="flex justify-center mt-3 mb-5 text-5xl font-bold">Projects</h1>
    <Project />
  </main>
</Layout>
